*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

html, body {
    height: 100vh;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: 0px;
}

input[type="text"] {
    background-color: transparent;
    text-align: end;
    width: 100%;
    border: 0px;
    font-size: 3.5rem;
    color: #d2d2d2;
}

#cal_main {
    width: 100%;
    max-width: 280px;
    background-color: #000;
    padding: 2rem 1rem;
    border: 2px solid #eded;
    border-radius: 52px;
}

.cal_header {
    margin-top: 92px;
    padding: 13px;
}

.cal_footer > * + * {
    margin-top: 1rem;
}

.cal_footer > *:last-child {
    gap: 1rem;
}

.btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn.btn-grow {
    flex-grow: 1;
    border-radius: 40px;
}

.btn:hover {
    transform: translate(-2px, -3px);
}

.btn.active {
    background-color: #fff;
    color: #f96606;
}

.btn-gray {
    background-color: #9f9f9f;
    color: #fff;
}

.btn-gray:hover {
    background-color: #fff;
}

.btn-dark-gray:hover {
    background-color: #999;
}

.btn-orange {
    background-color: #f69906;
}

.btn-dark-gray {
    background-color: #313131;
}

.btn-orange:hover {
    background-color: orange;
}

@media screen and (max-width: 600px) {
    #cal_main {
        max-width: 100%;
    }

    .btn_group {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
